{% extends 'navbar_template.html' %}

{% block head %}
<title> Review - {{ data.1.name }}</title>
<link rel="stylesheet" href="{{ url_for('review.static', filename='review.css') }}">
{% endblock %}

{% block content %}
<div class="review-box">
	<div class="main-block">
        <div class="header">
            <h1 class="review-header">Product Review</h1>
        </div>
        <hr class="review-divider">
        <img src="{{ url_for('static', filename=data.1.image_url) }}" alt="" class="review-img">
        <div class="data-box">
            <h2 class="item-name">{{ data.1.name }}</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium fugit officiis, at ipsa odit id. Est saepe iure inventore 
                dolorem nihil nesciunt. Sunt quisquam cum accusantium molestias mollitia delectus suscipit?</p>
            <form action="{{url_for('review.review', review_id=data.0.id)}}" method="POST">
                <div class="review-data">
                    <div class="rating-select">
                        <span class="interactive-star" data-value="1">&#9733;</span>
                        <span class="interactive-star" data-value="2">&#9733;</span>
                        <span class="interactive-star" data-value="3">&#9733;</span>
                        <span class="interactive-star" data-value="4">&#9733;</span>
                        <span class="interactive-star" data-value="5">&#9733;</span>
                    </div>

                    <input type="hidden" name="selected_rating" id="selected-rating" value="0">
                    <div class="price-tag">
			        	<p>Harga : </p>
			        	<p>RP.1,000,000</p> <!--isi dengan variable value total ahrga nanti-->
			        </div>
                </div>
                <input type="hidden" name="keyboard_id">
                <div class="submit">
                    <textarea class="review-desc" placeholder="Enter Review here..."></textarea>
                    <button type="submit" class="submit-review-button">Submit Review</button>
                </div>
            </form>
        </div>
    </div>    
</div>

<script src="{{ url_for('review.static', filename='review.js') }}"></script>

{% endblock %}