	{% extends 'template_navbar.html' %}

	{% block head %}
	<title>Product</title>
	<link rel="stylesheet" href="http://127.0.0.1:5000/static/main_page.css">
	<link rel="stylesheet" href="static\navbar.css">
	<link rel="stylesheet" href="static\footer.css">
	<link rel="stylesheet" href="static\cart.css">
	{% endblock %}

	{% block content %}
	
	<div class="page_container">
		<div class="cart-container">
			<h2>Shopping Cart</h2>
			
			{% for data in cart_data %}
				<div class="cart-item">
					<img src="static\assets\Vortex series 82.png" alt="Product">
					<div class="item-details">
						<h3> {{ data.product_model.name }} </h3>
						<p> {{ data.product_model.slogan }} </p>
						<p>Rp. {{ data.price }}</p>
						<div class="quantity">
							<button>-</button>
							<input type="text" value="{{ data.cart.quantity }}">
							<button>+</button>
						</div>
					</div>
					<button class="remove">Remove</button>
				</div>
			{% endfor %}

			
		</div>

		<div class="Total_Price_container">
			<h3>Total: Rp999.999</h3>
			<button class="checkout">Proceed to Checkout</button>
		</div>
		
	</div>



	<script src="http://127.0.0.1:5000/static/main_page.js"></script>
	{% endblock %}