{% extends 'navbar_template.html' %}

{% block head %}
	<title>Cart</title>
	<link rel="stylesheet" href="{{ url_for('cart.static', filename='cart.css') }}">
{% endblock %}

{% block content %}
	<div class="page_container">
		<div class="cart-container" id="cart-container">
			<h2>Shopping Cart</h2>
			{% if data.cart_data | length > 0 %}
				{% for cart_datum in data.cart_data %}
					<div class="cart-item" id="cart-item-{{ cart_datum.cart.id }}">
						<a href="{{ url_for('keyboard.keyboard_details', keyboard_id=cart_datum.keyboard_data.keyboard.id) }}" class="text-reset text-decoration-none">
							<img src="{{ url_for('static', filename=cart_datum.keyboard_data.keyboard.image_url) }}" alt="{{ cart_datum.keyboard_data.keyboard.name }}">
						</a>
						<div class="item-details">
							<a href="{{ url_for('keyboard.keyboard_details', keyboard_id=cart_datum.keyboard_data.keyboard.id) }}" class="text-reset text-decoration-none">
								<h3> {{cart_datum.keyboard_data.keyboard.name}}
							</a>
							</h3>
							<p> {{ cart_datum.keyboard_data.keyboard.subtitle }} </p>
							<p >
								Rp. 
								<span id="price-unit-{{ cart_datum.cart.id }}">{{ cart_datum.keyboard_data.discounted_price }}</span>
								 × 
								<span id="price-qty-{{ cart_datum.cart.id }}">{{ cart_datum.cart.quantity }}</span>
								 = Rp. 
								 <span id="subtotal-{{ cart_datum.cart.id }}">{{ cart_datum.subtotal }}</span> </p>
							<div class="quantity">
								<button 
									class="qty-btn" data-action="decrease" data-id="{{ cart_datum.cart.id }}" id="qty-down-{{ cart_datum.cart.id }}"
									{% if cart_datum.cart.quantity == 0 %} disabled="true" {% endif %}
								>
									-
								</button>
								<input class="qty-field" type="text" pattern="-?\d+" value="{{ cart_datum.cart.quantity }}" data-id="{{ cart_datum.cart.id }}" id="qty-{{ cart_datum.cart.id }}">
								<button 
									class="qty-btn" data-action="increase" data-id="{{ cart_datum.cart.id }}" id="qty-up-{{ cart_datum.cart.id }}"
									{% if cart_datum.cart.quantity == cart_datum.keyboard_data.keyboard.quantity %} disabled="true" {% endif %}
								>
									+
								</button>
							</div>
						</div>
						<button class="btn btn-danger" data-id="{{ cart_datum.cart.id }}" >Remove</button>
					</div>
				{% endfor %}
			{% else %}
			<div class="cart-item">Cart is Empty</div>
			{% endif %}
			
		</div>

		<div class="Total_Price_container">
			<h3>Total: Rp. <span id="total">{{ data.total }}</span></h3>
			<button class="checkout btn btn-success" id="checkout" {% if data.cart_data | length == 0 %} disabled="true" {% endif %} onclick="onCheckoutBtnClick()">Proceed to Checkout</button>
		</div>
		
	</div>


<script src="{{ url_for('cart.static', filename='cart.js') }}"></script>

{% endblock %}