{% extends 'navbar_template.html' %}

{% block head %}
<title>Profile</title>
<link rel="stylesheet" href="{{ url_for('profile.static', filename='profile.css') }}">
{% endblock %}


{% block content %}
<div class="page-container">
	<div class="main-block">
		<div class="container mt-4 p-4">
			<h1>Profile</h1>
			<hr>
			
			<h2> {{ username }} </h1>
			<div>
				
				<p>
					<b>Full Name</b> : {{ full_name }}
				</p>

				<p>
					<b>Email</b> : {{ email }}
				</p>

				<p>
					<b>Email</b> : {{ address }}
				</p>

				

			</div>

			<br>
			<br><br>
			
			<div class="button-container">
				<div class="left-buttons">
					<a href="{{ url_for('profile.edit') }}" class="text-reset text-decoration-none">
						<button type="button" class="btn btn-primary">
							Edit
						</button>
					</a>
				</div>
				
				<div class="right-buttons">
					<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#logout_modal" id="logout_modal_button">
						Logout
					</button>

					<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_modal" id="delete_modal_button">
						Delete Account
					</button>
				</div>
			</div>
		
			

			<!-- Logout Modal -->
			<div class="modal fade" id="logout_modal" tabindex="-1" aria-labelledby="logout_modal_label" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="logout_modal_label">Modal title</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Are you sure you want to logout?
						</div>
						<div class="modal-footer">
							<a href="{{ url_for('profile.logout') }}" class="text-reset text-decoration-none">
								<button type="button" class="btn btn-danger">Logout</button>
							</a>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Delete Modal -->
			<div class="modal fade" id="delete_modal" tabindex="-1" aria-labelledby="delete_modal_label" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="delete_modal_label">Modal title</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Are you sure you want to delete this account? This action cannot be undone.
						</div>
						<div class="modal-footer">
							<a href="{{ url_for('profile.delete') }}" class="text-reset text-decoration-none">
								<button type="button" class="btn btn-danger">Delete</button>
							</a>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="side-Block">
		<div class="container mt-4 p-4">
			<h1>Previous Purchases</h2>
				<hr>
				{% for data in review_data %}
				<div class="Transaction_List">
					<div class="transaction-item">
						<a href="{{url_for('keyboard.keyboard_details', keyboard_id=data.data.1.id)}}" class="text-reset text-decoration-none">
							<img src="{{ url_for('static', filename=data.data.1.image_url) }}" alt="">
						</a>
						<a href="{{url_for('keyboard.keyboard_details', keyboard_id=data.data.1.id)}}" class="text-reset text-decoration-none">
							<div class="item-details">
								<h5>{{ data.data.1.name }}</h5>
								<h6><b>Color:</b> {{ data.data.2.name }} | <b>Switch Type:</b> {{ data.data.3.name }}</h6>
								{% if data.stars != "" %} <h6>{{ data.stars }} </h6> {% endif %}
								{% if data.data.0.description == "None" %} <p>{{ data.data.0.description }} </p> {% endif %}
							</div>
						</a>
						
						<div class="ce">
							{% if data.data.0.rating == -1 %}
								<a href="{{url_for('review.review', review_id=data.data.0.id)}}" class="text-reset text-decoration-none">
									<button type="button" class="btn btn-sm btn-dark">
										Review
									</button>
								</a>
							{% endif %}
							<br>
							<br>
						</div>
						
						
				
					</div>

				</div>
				{% endfor %}
		</div>
	</div>
</div>
{% endblock %}