{% extends 'navbar_template.html' %}

{% block head %}
<title>{{ data.keyboard.name }}</title>
<link rel="stylesheet" href="{{ url_for('keyboard.static', filename='keyboard.css') }}">
{% endblock %}

{% block content %}


<div id="alert" class="alert alert-success alert-dismissible fade d-none mt-3" role="alert">
	<strong id="product-name"> {{ data.keyboard.name }} </strong> was added to your cart.
</div>


<body data-color="{{ data.colors[0].id }}" data-switch="{{ data.switches[0].id }}"" data-id="{{ data.keyboard.id }}">
	<div class="product-container">
		<div class="product-image">
			<img src="{{ url_for('static', filename=data.keyboard.image_url) }}" alt="{{ data.keyboard.name }}">
		</div>
		<div class="product-details">
			<div class="product-info">
				<div class="product-title">
					<button class="btn btn-outline-secondary btn-sm" onclick="copyID('{{ data.keyboard.id }}')">ID #{{ data.keyboard.id }}</button>
					<h1 class="product-name">{{ data.keyboard.name }}</h1>
				</div>
				<p id="copied-text" style="display: none; color: green; margin-top: 12px;">ID Copied</p>

				<p class="product-subtitle">{{ data.keyboard.subtitle }}</p>
				<div class="product-price">
					{% if data.keyboard.discount > 0 %} <span class="price-current">Rp. {{ data.discounted_price }}</span> {% endif %}
					<span class="price-original">Rp. {{ data.price }}</span>
					{% if data.keyboard.discount > 0 %} <span class="discount">{{ data.keyboard.discount }}% OFF</span> {% endif %}
				</div>
	
				<div class="product-options">
					<div class="color-options">
						<label>Warna:</label>
						{% for i in range(data.colors | length) %}
						<button 
							class="btn btn-outline-secondary color-btn {% if i == 0 %} active {% endif %}" 
							id="color-btn-{ data.colors[i].id }" 
							data-id="{{ data.colors[i].id }}" 
							onclick="onVariantBtnClick(this, 'color')"
						>
							{{ data.colors[i].name }}
						</button>
						{% endfor %}
					</div>
	
					<div class="switch-options">
						<label>Switch:</label>
						{% for i in range(data.switches | length) %}
						<button 
							class="btn btn-outline-secondary switch-btn {% if i == 0 %} active {% endif %}" 
							id="switch-btn-{ data.colors[i].id }" 
							data-id="{{ data.colors[i].id }}" 
							onclick="onVariantBtnClick(this, 'switch')"
						>
							{{ data.switches[i].name }}
						</button>
						{% endfor %}
					</div>
				</div>
				<div class="product-action">
					<input id="qty-field" type="number" value="1" min="1" max="{{ data.keyboard.quantity }}"/>
					<span> Stock: {{ data.keyboard.quantity }} </span>
					<button id="add-to-cart-btn" onclick="onAddtoCartClick()" 
						{% if data.keyboard.quantity <= 0 %} disabled=true {% endif %}
					>
					{% if data.keyboard.quantity <= 0 %} 
						Sold Out 
					{% else %}
						Add to Cart
					{% endif %}
				</button>
				</div>
			</div>

			<div class="product-specs">
				<h2>specification</h2>
				<div class="spec-list">
					<div class="spec-item">
						<strong>Keycaps:</strong> {{ data.keycaps.name }}
					</div>
					<div class="spec-item">
						<strong>Switch Type:</strong> {{ data.switch_type.name }}
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="product-reviews">
		<h2>Ulasan</h2>
		<div class="rating-summary">
			{% if data.reviews.count != 0 %}
				<span class="rating-score">{{ data.reviews.average }}/5.0</span>
				<span class="rating-score">{{ data.stars }}</span>
				<span class="rating-count">({{ data.number_of_reviews }} ratings)</span>
			{% else %}
				<span class="rating-count">(No ratings)</span>
			{% endif %}
		</div>

		<div class="review-list">
			{% for i in range(data.reviews.count) %}
			<div class="review-item">
				<p class="review-stars">{{ data.reviews.reviewers[i].username }} {{ data.reviews.stars[i] }}</p>
				<p class="review-text">{{ data.reviews.reviews[i].description }}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>

<script src="{{ url_for('keyboard.static', filename='keyboard.js') }}"></script>

{% endblock %}