{% extends 'navbar_template.html' %}

{% block head %}
<title>Keyboard</title>
<link rel="stylesheet" href="{{ url_for('products.static', filename='products.css') }}">
{% endblock %}

{% block content %}

<div class="page_container">

	<!-- <div class="sidebar_menu">
		<h3 class="Menu_Name">KEYBOARDS</h3>
		<ul>
			<li><a href="#">Keyboard layout</a></li>
			<li><a href="#">Brand</a></li>
			<li><a href="#">Switch Type</a></li>
			<li><a href="#">Case material</a></li>
			<li><a href="#">Connectivity</a></li>
			<li><a href="#">Price</a></li>
		</ul>
	</div> -->
	<div class="price-selector-container">
		<span>
			Sort by Price:
		</span>
		<select id="price-selector">
			<option value="descending">Descending</option>
			<option value="ascending">Ascending</option>
		</select>

	</div>

	<div class="main-block">
   		<div class="row">
				{% for data in keyboard_data %}
				<div class="product-container">
					<div class="product-img-container">
						<img src="{{ url_for('static', filename='assets/xera87.jpg') }}" alt="">
					</div>
					<div class="product_text_container">
						<h3> {{ data.keyboard.name }} </h3>
						<p> {{ data.keyboard.subtitle }} </p>
						<div class="rating">
							<span class="stars">★★★★☆</span>
							<span class="ratings">100+ Ratings</span>
						</div>
						<div class="price">
							<span class="current-price">Rp. {{ data.discounted_price }} (-{{ data.keyboard.discount }}%) </span>
						</div>
						<div class="price">
							<span class="original-price">Rp. {{ data.price }} </span>
						</div>
						<button class="add-to-cart">Add to Cart</button>
				</div>
				</div>
				
				{% endfor %}
    	</div>
	</div>
    

    

    
</div>
{% endblock %}