{% extends 'template_navbar.html' %}

{% block head %}
<title>Showcase</title>
<link rel="stylesheet" href="http://127.0.0.1:5000/static/main_page.css">
<link rel="stylesheet" href="static\showcase.css">
<link rel="stylesheet" href="static\navbar.css">
<link rel="stylesheet" href="static\footer.css">
{% endblock %}

{% block content %}

<div class="page_container">

	<div class="sidebar_menu">
		<h3 class="Menu_Name">KEYBOARDS</h3>
		<ul>
			<li><a href="#">Keyboard layout</a></li>
			<li><a href="#">Brand</a></li>
			<li><a href="#">Switch Type</a></li>
			<li><a href="#">Case material</a></li>
			<li><a href="#">Connectivity</a></li>
			<li><a href="#">Price</a></li>
		</ul>
	</div>

	<div class="Main_Block">
   		<div class="row1">
        	<div class="product_container">
            	<div class="product_img_Container">
                	<img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
 	              	<h3>Vortexseries - Swift82</h3>
			    	<p>Rapid Trigger - Snap Tap - Magnetic</p>
			    	<div class="rating">
			    		<span class="stars">★★★★☆</span>
			    		<span class="ratings">100+ Ratings</span>
			    	</div>
				    <div class="price">
				    	<span class="current-price">Rp659.000</span>
				    	<span class="original-price">Rp1.299.000</span>
				    	<span class="discount">49% OFF</span>
				    </div>
         	       	<button class="add-to-cart">Add to Cart</button>
         	   </div>
       		</div>

        	<div class="product_container">
           		<div class="product_img_Container">
                	<img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
                	<h3>Vortexseries - Swift82</h3>
		    		<p>Rapid Trigger - Snap Tap - Magnetic</p>
		    		<div class="rating">
		    			<span class="stars">★★★★☆</span>
		    			<span class="ratings">100+ Ratings</span>
		    		</div>
			   	 	<div class="price">
			    		<span class="current-price">Rp659.000</span>
			    		<span class="original-price">Rp1.299.000</span>
			    		<span class="discount">49% OFF</span>
			    	</div>
                	<button class="add-to-cart">Add to Cart</button>
            	</div>
        	</div>

        	<div class="product_container">
            	<div class="product_img_Container">
                	<img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
                	<h3>Vortexseries - Swift82</h3>
		    		<p>Rapid Trigger - Snap Tap - Magnetic</p>
		    		<div class="rating">
		    			<span class="stars">★★★★☆</span>
		    			<span class="ratings">100+ Ratings</span>
		    		</div>
			    	<div class="price">
			    		<span class="current-price">Rp659.000</span>
			    		<span class="original-price">Rp1.299.000</span>
			    		<span class="discount">49% OFF</span>
			    	</div>
                	<button class="add-to-cart">Add to Cart</button>
            	</div>
        	</div>

        	<div class="product_container">
            	<div class="product_img_Container">
                	<img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
                	<h3>Vortexseries - Swift82</h3>
		    		<p>Rapid Trigger - Snap Tap - Magnetic</p>
		    		<div class="rating">
		    			<span class="stars">★★★★☆</span>
		    			<span class="ratings">100+ Ratings</span>
		    		</div>
			    	<div class="price">
			    		<span class="current-price">Rp659.000</span>
			    		<span class="original-price">Rp1.299.000</span>
			    		<span class="discount">49% OFF</span>
			    	</div>
                	<button class="add-to-cart">Add to Cart</button>
            	</div>
        	</div>
    	</div>


		<div class="row1">
        	<div class="product_container">
            	<div class="product_img_Container">
                	<img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
                	<h3>Vortexseries - Swift82</h3>
		    		<p>Rapid Trigger - Snap Tap - Magnetic</p>
		    		<div class="rating">
		    			<span class="stars">★★★★☆</span>
		    			<span class="ratings">100+ Ratings</span>
		    		</div>
			    	<div class="price">
			    		<span class="current-price">Rp659.000</span>
			    		<span class="original-price">Rp1.299.000</span>
			    		<span class="discount">49% OFF</span>
			    	</div>
                	<button class="add-to-cart">Add to Cart</button>
            	</div>
        	</div>

        	<div class="product_container">
            	<div class="product_img_Container">
               		<img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
                	<h3>Vortexseries - Swift82</h3>
		    		<p>Rapid Trigger - Snap Tap - Magnetic</p>
		    		<div class="rating">
		    			<span class="stars">★★★★☆</span>
		    			<span class="ratings">100+ Ratings</span>
		    		</div>
			    	<div class="price">
			    		<span class="current-price">Rp659.000</span>
			    		<span class="original-price">Rp1.299.000</span>
			    		<span class="discount">49% OFF</span>
			    	</div>
                	<button class="add-to-cart">Add to Cart</button>
            	</div>
        	</div>

        	<div class="product_container">
            	<div class="product_img_Container">
                	<img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
                	<h3>Vortexseries - Swift82</h3>
		    		<p>Rapid Trigger - Snap Tap - Magnetic</p>
		    		<div class="rating">
		    			<span class="stars">★★★★☆</span>
		    			<span class="ratings">100+ Ratings</span>
		    		</div>
			    	<div class="price">
			    		<span class="current-price">Rp659.000</span>
			    		<span class="original-price">Rp1.299.000</span>
			    		<span class="discount">49% OFF</span>
			    	</div>
                	<button class="add-to-cart">Add to Cart</button>
            	</div>
        	</div>

        	<div class="product_container">
            	<div class="product_img_Container">
                	<img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
                	<h3>Vortexseries - Swift82</h3>
		    		<p>Rapid Trigger - Snap Tap - Magnetic</p>
		    		<div class="rating">
		    			<span class="stars">★★★★☆</span>
		    			<span class="ratings">100+ Ratings</span>
		    		</div>
			    	<div class="price">
			    		<span class="current-price">Rp659.000</span>
			    		<span class="original-price">Rp1.299.000</span>
			    		<span class="discount">49% OFF</span>
			    	</div>
                	<button class="add-to-cart">Add to Cart</button>
            	</div>
        	</div>
    	</div>

		<div class="row1">
        	<div class="product_container">
            	<div class="product_img_Container">
            	    <img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
                	<h3>Vortexseries - Swift82</h3>
		    		<p>Rapid Trigger - Snap Tap - Magnetic</p>
		    		<div class="rating">
		    			<span class="stars">★★★★☆</span>
		    			<span class="ratings">100+ Ratings</span>
		    		</div>
			    	<div class="price">
			    		<span class="current-price">Rp659.000</span>
			    		<span class="original-price">Rp1.299.000</span>
			    		<span class="discount">49% OFF</span>
			    	</div>
                	<button class="add-to-cart">Add to Cart</button>
            	</div>
        	</div>

        	<div class="product_container">
            	<div class="product_img_Container">
                	<img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
                	<h3>Vortexseries - Swift82</h3>
		    		<p>Rapid Trigger - Snap Tap - Magnetic</p>
		    		<div class="rating">
		    			<span class="stars">★★★★☆</span>
		    			<span class="ratings">100+ Ratings</span>
		    		</div>
			    	<div class="price">
			    		<span class="current-price">Rp659.000</span>
			    		<span class="original-price">Rp1.299.000</span>
			    		<span class="discount">49% OFF</span>
			    	</div>
                	<button class="add-to-cart">Add to Cart</button>
            	</div>
        	</div>

        	<div class="product_container">
            	<div class="product_img_Container">
                	<img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
                	<h3>Vortexseries - Swift82</h3>
		    		<p>Rapid Trigger - Snap Tap - Magnetic</p>
		    		<div class="rating">
		    			<span class="stars">★★★★☆</span>
		    			<span class="ratings">100+ Ratings</span>
		    		</div>
			    	<div class="price">
			    		<span class="current-price">Rp659.000</span>
			    		<span class="original-price">Rp1.299.000</span>
			    		<span class="discount">49% OFF</span>
			    	</div>
                	<button class="add-to-cart">Add to Cart</button>
            	</div>
        	</div>

        	<div class="product_container">
            	<div class="product_img_Container">
                	<img src="static\assets\Vortex series 82.png" alt="">
            	</div>
            	<div class="product_text_container">
                	<h3>Vortexseries - Swift82</h3>
		    		<p>Rapid Trigger - Snap Tap - Magnetic</p>
		    		<div class="rating">
		    			<span class="stars">★★★★☆</span>
		    			<span class="ratings">100+ Ratings</span>
		    		</div>
			    	<div class="price">
			    		<span class="current-price">Rp659.000</span>
			    		<span class="original-price">Rp1.299.000</span>
			    		<span class="discount">49% OFF</span>
			    	</div>
                	<button class="add-to-cart">Add to Cart</button>
            	</div>
        	</div>
    	</div>
	</div>
    

    

    
</div>

<script src="http://127.0.0.1:5000/static/main_page.js"></script>
{% endblock %}