.page-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 90px 90px 290px 90px;
    width: auto;
}

.main-block{
    width: 80em;
    min-height: 19.1em;
    background-color: rgb(247, 247, 247);
    border-radius: 13px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.side-Block{
    width: 55em;
    min-height: 19.1em;
    background-color: rgb(247, 247, 247);
    border-radius: 13px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    background: white;
    justify-content: space-between;
}

.transaction-item img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
}

.item-details {
    flex-grow: 1;
}

.item-details h6{
    font-size: 13px;
}


.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.stars {
    color: #f39c12;
    margin-right: 5px;
}

.ratings {
    font-size: 0.8rem;
    color: #666;
}

.ce{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}