{% extends 'base_template.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">

<nav class="navbar">
	<div class="logo"><a class="text-decoration-none link-dark" href= "{{ url_for('register.index')}}">KEYS2KEEB</a></div>
	<ul class="nav-links">
		<li><a href="{{url_for('products.keyboards') }}">Keyboards</a></li>
		<li><a href="#">Community</a></li>
		<li><a href="#">Support</a></li>
		<li><a href="#">About Us</a></li>
		<li>
			<a href= "{{ url_for('cart.cart')}}">
				<img src="{{ url_for('static', filename='assets/shopping-cart.png') }}" alt="Cart" class="icon">
			</a>
		</li>
		<li><a href= "{% if current_user.is_authenticated %} {{ url_for('profile.profile')}} {% else %}
		 {{ url_for('login.login')}} {% endif %}">
			
			{% if current_user.is_authenticated %} Profile {% else %} Login {% endif %}
			
		</a></li>
		
	</ul>
</nav>

{% block content %}{% endblock %}

<footer>
	<div class="footer-container">
		<div class="footer-column">
			<h3>Shop by Category</h3>
			<ul>
				<li><a href="keyboards.html">Keyboards</a></li>
				<li><a href="barebones.html">Barebones</a></li>
				<li><a href="switches.html">Switches</a></li>
				<li><a href="keycaps.html">Keycaps</a></li>
				<li><a href="accessories.html">Accessories</a></li>
				<li><a href="others.html">Others</a></li>
			</ul>
		</div>
		<div class="footer-column">
			<h3>Community</h3>
			<ul>
				<li><a href="#">Reviews</a></li>
				<li><a href="#">Forums</a></li>
			</ul>
		</div>
		<div class="footer-column">
			<h3>About Us</h3>
			<ul>
				<li><a href="#">Return Policy</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Sitemap</a></li>
				<li><a href="#">Security</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">EPR Compliance</a></li>
			</ul>
		</div>
		<div class="footer-column">
			<div class="social-media">
				<a href="https://www.facebook.com/mastercorbuzier/?locale=id_ID"><img src="/static/assets/facebookLogo.png" alt="Facebook"></a>
				<a href="https://www.instagram.com/danielalvinn?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="/static/assets/InstagramLogo.png" alt="Instagram"></a>
				<a href="https://x.com/ichika_mo"><img src="/static/assets/xLogo.png" alt="Twitter"></a>
				<a href="https://www.youtube.com/@radityadika"><img src="/static/assets/youtubeLogo.png" alt="YouTube"></a>
			</div>
			<div class="footer-info">
				<p>Indonesia</p>
				<p>&copy; 2025 | All Rights Reserved</p>
				<p class="brand-name">KEYS2KEEB</p>
			</div>
		</div>
	</div>
</footer>

<link rel="stylesheet" href="{{ url_for('static', filename='XXXXX.js') }}">
{% endblock %}