{% extends 'base_template.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">

<nav class="navbar">
	<div class="logo">
		<a class="text-decoration-none link-dark" href="{{ url_for('main_page.main_page') }}">KEYS2KEEB</a>
	</div>

	<div class="nav-links-container">
		<ul class="nav-links">
			<li><a href="{{ url_for('marketplace.marketplace') }}">Keyboards</a></li>
			<li><a href="{{ url_for('additional_info.support') }}">Support</a></li>
			<li><a href="{{ url_for('additional_info.about_us') }}">About Us</a></li>
			<li>
				<a href="{{ url_for('cart.cart') }}" class="cart-link">
					<img src="{{ url_for('static', filename='assets/shopping-cart.png') }}" alt="Cart" class="icon cart-icon">
					<span class="cart-text">Cart</span>
				</a>
			</li>

			<li>
				<a href="{% if current_user.is_authenticated %}{{ url_for('profile.profile') }}{% else %}{{ url_for('login.login') }}{% endif %}">
					{% if current_user.is_authenticated %}Profile{% else %}Login{% endif %}
				</a>
			</li>
		</ul>
	</div>

	<div class="burger">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
</nav>
<script src="{{ url_for('static', filename='navbar_template.js') }}"></script>


{% block content %}{% endblock %}

<footer>
	<div class="footer-container">
		<div class="footer-column">
			<div class="social-media">
				<a href="https://www.facebook.com"><img src="/static/assets/facebookLogo.png" alt="Facebook"></a>
				<a href="https://www.instagram.com"><img src="/static/assets/InstagramLogo.png" alt="Instagram"></a>
				<a href="https://x.com"><img src="/static/assets/xLogo.png" alt="Twitter"></a>
				<a href="https://www.youtube.com"><img src="/static/assets/youtubeLogo.png" alt="YouTube"></a>
			</div>
			<div class="footer-info">
				<p>Indonesia</p>
				<p>&copy; 2025 | All Rights Reserved</p>
				<p class="brand-name">KEYS2KEEB</p>
			</div>
		</div>
	</div>
</footer>
{% endblock %}