{% extends 'basic_template.html' %}

{% block head %}
<title>Register</title>
{% endblock %}


{% block body %}
<form action="{{ url_for('register.register') }}" method="POST">
	{% if message is defined and message %}
		<div class="alert alert-warning">  <strong>  {{ message }} </strong></div>
	{% endif %}
	<div class="container border mt-4 p-4">
		<h1>Register</h1>
		<hr>
		<div class="mb-3">
			<label class="form-label">Username</label>
			<input type="text" name="username" class="form-control" id="exampleInputUsername1" 
				{% if username is defined and username %}
					value={{username}}
				{% endif %}
			>
		</div>
		<div class="mb-3">
			<label class="form-label">Full Name</label>
			<input type="text" name="full_name" class="form-control" id="exampleFullName1"
				{% if full_name is defined and full_name %}
					value={{full_name}}
				{% endif %}
			>
		</div>
		<div class="mb-3">
			<label class="form-label">Email address</label>
			<input type="email" name="email" class="form-control" id="exampleInputEmail1"
				{% if email is defined and email %}
					value={{email}}
				{% endif %}
			>
		</div>
		<div class="mb-3">
			<label class="form-label">Password</label>
			<input type="password" name="password" class="form-control" id="exampleInputPassword1"
				{% if password is defined and password %}
					value={{password}}
				{% endif %}
			>
		</div>
		<div class="mb-3">
			<label class="form-label">Bank Number</label>
			<input type="text" name="bank_number" class="form-control" id="exampleBankNumber1"
				{% if bank_number is defined and bank_number %}
					value={{bank_number}}
				{% endif %}
			>
		</div>
		<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
		<div class="mb-3">
			<button type="submit" class="btn btn-primary">Register</button>
		</div>
		<p>Already have an account? <a href="http://127.0.0.1:5000/login">Sign in</a>.</p>
	</div>
</form>
{% endblock %}